.fileItem{
    // width: 120px;
    height: 150px;
    flex: 5%;
    // background-color: red;
    margin: 10px;
    max-width: 200px;
    min-width: 200px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
  
   
    position: relative;
    .fileItemWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
       
        .ext{
            position: absolute;
            top: 0;
            right: 10px;
            color: rgb(171, 169, 169);
        }

        .download{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 10px;
            color: green;
            
        }

        .fileLogo{
            margin-bottom: 10px;
            // font-size: 500px;
            .middleIcon{
                font-size: 70px;
                color: rgb(171, 169, 169);
            }
        }
        
        .name{

            word-wrap: break-word;
            max-width: 100%;
            width: 100%;
            // background-color: aqua;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            bottom: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgb(171, 169, 169);

            .icon{
                margin-right: 2px;
                margin-left: 5px;
                color: rgb(171, 169, 169);
            }
            // justify-content: center;
            
            span{
                padding: 3px 10px;
                width: 100%;
                display: flex;
                // justify-content: center;
                align-items: center;
                margin-right: 5px;
                max-width:40%;
                color: rgb(171, 169, 169);
                

            }
            // text-overflow: clip;
            // overflow: hidden;
            // white-space: nowrap;
            // max-lines: 1;
            // max-width: 10px;
            // justify-content: flex-end;
            // background-color: yellow;
            // display: flex;
            // bottom: 0;
            // bottom: 10px;
        }
    }
}