.files{
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 20, 20);
    position: relative;
    padding-top: 80px;
    .loading{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // flex-direction: column;
        color: white;
        
    }
    .player{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgb(17, 27, 17);
        position: fixed;
        top: 0;
        opacity: 0.7;
       overflow: hidden;
        
        z-index: 8888;
    }
    .path{
        // margin: 2px 30px;
        // margin: 20px 0;
        box-shadow: 0 0 5px grey;
        
        background-color: rgb(28, 27, 27);
        span{
            color: rgb(171, 169, 169);
            margin: 0 40px;
        }
    }

    .video{
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        // top: 0;
        opacity: 0.2;
        background-color: aqua;
        top: 0;
    }

    .filesWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        // background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(21, 20, 20);
        // margin:2px 30px;

       


    }
}

